@font-face {
    font-family: 'Bungee-Regular';
    src: url('font/Bungee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mexicana-Regular';
    src: url('font/Mexicana.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/web_background/DALL_E_mexican_BG.webp");
    font-family: 'Mexicana-Regular', sans-serif;
    color: black;
    font-size: 60px;
}

canvas {
    background-color: black;
}