@font-face {
    font-family: 'Bungee-Regular';
    src: url('font/Bungee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mexicana-Regular';
    src: url('font/Mexicana.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/web_background/DALL_E_mexican_BG.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mexicana-Regular', sans-serif;
    color: black;
    font-size: 60px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.help-text {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #925f0d;
    text-align: center;
    font-size: calc(20px + 1vw);
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.controlImage {
    width: 40%;
}

.help img{
    width: 40px;
}

label {
    font-size: 30px;
    color: white;
}

.help {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 720px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.span-impressum {
    font-size: 35px;
    color: white;
    margin-top: 40px;
}

.mobileWarning {
    display: none;
}

.hud {
    display: none;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    padding: 10px;
}

.hud button {
    color: white;
    background-color: #925f0d;
    border: none;
    padding: 17px;
    border-radius: 50%;
}

.mobile-impressum-link {
    margin-top: 5%;
}

.restart-btn {
    border: 1px orange solid;
    font-family: 'Mexicana-Regular', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 200px;
    text-align: center;
    height: 55px;
    padding: 5px;
    font-size: 30px;
    border-radius: 16px;
}

.restart-btn-phone {
    border: 1px orange solid;
    font-family: 'Mexicana-Regular', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    border-radius: 16px;
}